<div class="bg-img">
    <div class="bgPosition" [class.bg]="bgVariable"></div>
</div>
<header [class.headerFixed]="headerVariable">
    <div class="container">
        <div class="logo">
            <img src=".././assets/Logo.png" alt="logo">
        </div>
    </div>
</header>
<section class="banner">
    <div class="container">
        <div class="banner-content">
            <h1>AMGHAR</h1>
            <p>had website l nas li 3ndom novels and books msta3mlin w bghaw ybi3ohom</p>
            <ul>
                <li>
                    <h2>About</h2>
                    <p>best books for you</p>
                </li>
                <li>
                    <h2>Contact</h2>
                    <p>best books for you</p>
                </li>
                <li>
                    <h2>Time</h2>
                    <p>20/06/1996</p>
                </li>
            </ul>
        </div>

    </div>
</section>

<section class="gallery">
    <div class="container">
        <div class="gallery-container">
            <div class="row">
                <div class="col-md-6">
                   <img src="https://images.pexels.com/photos/3789102/pexels-photo-3789102.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image-right">
                </div>
                <div class="col-md-6">
                    <img src="https://images.pexels.com/photos/3568206/pexels-photo-3568206.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image-right">
                </div>
            </div>

        </div>
        
    </div>

</section>
<section class="gallery1">
    <div class="container">
<div class="gallery-container1">
    <div class="row">
        <div class="col-md-6">
           <img src="https://images.pexels.com/photos/3789102/pexels-photo-3789102.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image-right">
        </div>
        <div class="col-md-6">
            <img src="https://images.pexels.com/photos/3568206/pexels-photo-3568206.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image-right">
        </div>
    </div>
    </div>

</div></section>